<nav class="navbar navbar-light " style="background-color: #e3f2fd;">
  <button type="button" class="btn btn-primary" routerLink="/outpost-list">Outpost List</button>
  <button type="button" class="btn btn-info mr-auto ml-4 mt-lg-0" routerLink="/outpost-add">Add Outpost</button>

  <button type="button" class="btn mr-auto ml-4 mt-lg-0"
          [ngClass]="{ 'btn-danger': networkOn , 'btn-light': !networkOn  }" (click)="toggleNetwork()">
    Network {{ networkOn? 'ON' : 'OFF'}}</button>

  <button type="button" class="btn mr-auto ml-4 mt-lg-0"
          [ngClass]="{ 'btn-primary': offlineFull , 'btn-light': !offlineFull  }" >
    {{ offlineFull? 'OFFLINE LOADED' : 'OFFLINE EMPTY'}}</button>


  <div class="btn-group ml-4 mr-auto" dropdown>
    <button id="button-basic" dropdownToggle type="button" class="btn btn-warning dropdown-toggle ml-4 mr-auto"
            aria-controls="dropdown-basic" >
      Actions <span class="caret"></span>
    </button>
    <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
        role="menu" aria-labelledby="button-basic">
      <li role="menuitem"><a class="dropdown-item" (click)="displayAllEffects()">Display  All Effects</a></li>
      <li role="menuitem"><a class="dropdown-item" (click)="clearAllEffects()">Clear  All Effects</a></li>
      <li role="menuitem"><a class="dropdown-item" (click)="resolveAllEffects()">Resolve  All Effects</a></li>
      <li role="menuitem"><a class="dropdown-item" (click)="checkOffline()">Offline check</a></li>
      <li class="divider dropdown-divider"></li>
      <li role="menuitem"><a class="dropdown-item" (click)="loadBigData()">Load data</a></li>
      <li class="divider dropdown-divider"></li>
      <li role="menuitem"><a class="dropdown-item" (click)="data2Db()">Save data 2 DB</a></li>
      <li role="menuitem"><a class="dropdown-item" (click)="Db2data()">Get data from DB</a></li>
      <li class="divider dropdown-divider"></li>
      <li role="menuitem"><a class="dropdown-item" (click)="setCache()">Add cache</a></li>
      <li role="menuitem"><a class="dropdown-item" (click)="resetCache()">Delete cache</a></li>
      <li class="divider dropdown-divider"></li>
      <li role="menuitem"><a class="dropdown-item" (click)="cache2Db()">Cache 2 DB</a></li>
      <li role="menuitem"><a class="dropdown-item" (click)="Db2cache()">DB 2 Cache</a></li>
      <li role="menuitem"><a class="dropdown-item" (click)="resetDB()">Delete DB</a></li>
    </ul>
  </div>

  <!--(click)="reset()"-->
</nav>

<div class="container">

  <router-outlet></router-outlet>
</div>

<!-- Footer -->
<footer class="mojFooter">
    <div class="container">

      <label >LOG :</label>
      <br>
      <textarea rows="5" cols="200" readonly class="txtarea">{{ logText | async }}</textarea>

      <br>

      <div class="row" style="margin-top: 7px;">
        <p> &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &copy; Copyright Doron Miller 2018.</p>
      </div>
      <div class="bottom-footer">
        <div class="col-md-12">
          <ul class="footer-nav">
            <li> <a href="https://www.facebook.com/"> Facebook </a> </li>
            <li> <a href="https://twitter.com/"> Twitter </a> </li>
            <li> <a href="https://plus.google.com/"> Google+ </a> </li>
          </ul>
        </div>
      </div>
    </div>
</footer>

