<nav class="navbar navbar-light " style="background-color: #e3f2fd;">
  <button type="button" class="btn btn-primary" routerLink="/outpost-list">Outpost List</button>
  <button type="button" class="btn btn-info mr-auto ml-4 mt-lg-0" routerLink="/outpost-add">Add Outpost</button>
  <button type="button" class="btn btn-secondary ml-4 mr-auto" (click)="reset()">Most Active Outpost</button>
  <!--(click)="reset()"-->
</nav>

<div class="container">

  <router-outlet></router-outlet>
</div>

<!-- Footer -->
<footer class="mojFooter">
    <div class="container">

      <label >LOG :</label>
      <br>
      <textarea rows="5" cols="200" readonly class="txtarea">{{ logText | async }}</textarea>

      <br>

      <div class="row" style="margin-top: 7px;">
        <p> &nbsp; &nbsp; &nbsp;  &nbsp; &nbsp; &nbsp; &copy; Copyright Doron Miller 2018.</p>
      </div>
      <div class="bottom-footer">
        <div class="col-md-12">
          <ul class="footer-nav">
            <li> <a href="https://www.facebook.com/"> Facebook </a> </li>
            <li> <a href="https://twitter.com/"> Twitter </a> </li>
            <li> <a href="https://plus.google.com/"> Google+ </a> </li>
          </ul>
        </div>
      </div>
    </div>
</footer>

